<%= form_with(model: tailgate) do |form| %>
  <% if tailgate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tailgate.errors.count, "error") %> prohibited this tailgate from being saved:</h2>

      <ul>
        <% tailgate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :stadium_id, style: "display: block" %>
    <%= form.text_field :stadium_id, class: "form-control" %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link, class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
