<div class="card text-center">
  <div class="card-header">
    <%= link_to stadium_path(tailgate.stadium.name), class: "card-title" do %>
      <h5><%= tailgate.stadium.team %></h5>
    <% end %>
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= tailgate.name %> </h5>
    <p class="card-text"> <%= tailgate.description %> </p>
    <a href="<%= tailgate.link %>" target="_blank" class="btn btn-primary">Website Link</a>
  </div>
  <div class="card-footer text-body-secondary">
    <%= link_to "Edit this Tailgate", edit_tailgate_path(@tailgate), class: "btn btn-outline-success m-1" %>
  </div>
</div>
