<h1>Tailgates</h1>

<div class="d-flex-reverse">
  <% @stadiums.each do |stadium| %>
    <%= link_to stadium_path(stadium.name) do %>
        <h2><%= stadium.name %></h2>
      <% end %>
    <div>
      <table class="table-tailgate m-2">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Link</th>
        </tr>
        <% stadium.tailgates.each do |tailgate| %>
          <tr>
            <td> <%= tailgate.name %> </td>
            <td> <%= tailgate.location %> </td>
            <td>
              <%= link_to tailgate_by_stadium_path(tailgate.name), class: "card-header" do %>
                Tailgate page
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>

<% if current_user %>
  <%= link_to "New tailgate", new_tailgate_path, class: "btn btn-outline-success m-2" %>  
<% end %>
