<div class="d-flex justify-content-center">
  <%= render "wide_tailgate", :tailgate => @tailgate %>
</div>

<div>
  <%= render "map_card", :map => @tailgate %>
</div>


<h3 class="mt-2">Helpful Tips!</h3>

<hr>

<ul class="list-group list-group-flush">
  <% @tailgate.advices.each do |advice| %>
    <li class="list-group-item">
      <%= render advice %>
    </li>
  <% end %>
</ul>

<div  class="card-body">
  <% if current_user %>
    <h3>Share your tips!</h3>
    <%= render "advices/form", advice: Advice.new(adviceable_id: @tailgate.id, adviceable_type: @tailgate.class, user_id: current_user.id) %>
  <% end %>
  
</div>

<br>

<div class="d-flex">
  <div>
    <%= link_to "All Tailgates", tailgates_path, class: "btn btn-outline-primary m-2" %>
  </div>

  <div>
    <%= link_to "#{@tailgate.stadium.team} Tailgates", tailgates_by_stadium_path(@tailgate.stadium.name), class: "btn btn-outline-success m-2" %>
  </div>
</div>
