<div class="d-flex justify-content-center">
  <%= render "wide_restaurant", :restaurant => @restaurant %>
</div>

<br>

<div class="d-flex justify-content-center">
  <%= render "/shared/map_card", :map => @restaurant %>
</div>

<h3 class="mt-2">Helpful Tips!</h3>

<hr>

<ul class="list-group list-group-flush">
  <% @restaurant.advices.each do |advice| %>
    <li class="list-group-item">
      <%= render advice %>
    </li>
  <% end %>
</ul>

<div  class="card-body">
  <% if current_user %>
    <h3>Share your tips!</h3>
    <%= render "advices/form", advice: Advice.new(adviceable_id: @restaurant.id, adviceable_type: @restaurant.class, user_id: current_user.id) %>
  <% end %>
  
</div>

<br>

<div>
  <%= link_to "Back to #{@restaurant.stadium.team} restaurants", restaurants_by_stadium_path(@restaurant.stadium.name), class: "btn btn-outline-primary m-2" %>
</div>
