<div id="<%= dom_id lot %>">
  <p>
    <strong>Address:</strong>
    <%= lot.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lot.description %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= lot.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= lot.link %>
  </p>

  <p>
    <strong>Stadium:</strong>
    <%= lot.stadium_id %>
  </p>

</div>
