<div class="card text-center">
  <div class="card-header">
    <%= link_to stadium_path(lot.stadium.name), class: "card-title" do %>
      <h5><%= lot.stadium.team %></h5>
    <% end %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= lot.name %></h5>
    <p class="card-text"><%= lot.description %></p>
    <a href="<%= lot.link %>" target="_blank" class="btn btn-primary">Parking Link</a>
  </div>
  <div class="card-footer text-body-secondary">
    <!--pundit this-->
    <% if false %>
      <%= link_to "Edit this Parking Lot", edit_lot_path(@lot.name), class: "btn btn-outline-success m-1" %>
    <% end %>
  </div>
</div>
