<div class="card text-center">
  <div class="card-header">
    <%= lot.stadium.team %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= lot.name %></h5>
    <p class="card-text"><%= lot.description %></p>
    <a href="<%= lot.link %>" target="_blank" class="btn btn-primary">Parking Link</a>
  </div>
  <div class="card-footer text-body-secondary">
    <%= lot.address %>
  </div>
</div>

<h3 class="mt-2">Helpful Tips!</h3>
