<%= form_with(model: hotel) do |form| %>
  <% if hotel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
        <% hotel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <br>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link, class: "form-control" %>
  </div>

  <br>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <br>

  <!--<div>-->
    <%#= form.label :stadium_id, style: "display: block" %>
    <%#= form.text_field :stadium_id, class: "form-control" %>
<!--  </div>-->

  <div>
    <%= form.label :stadium_id, style: "display: block" %>
    <%= collection_select(:hotel, :stadium_id, Stadium.all, :id, :team, class: "form-select")%>
  </div>

  <br>

  <%#= collection_select(:person, :city_id, City.all, :id, :name) %>
  <%#= collection_select(:hotel, :stadium_id, Stadium.all, :id, :team) %>


  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
