<div class="card text-center">
  <div class="card-header">
    <%= link_to stadium_path(hotel.stadium.name), class: "card-title" do %>
      <h5><%= hotel.stadium.team %></h5>
    <% end %>
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= hotel.name %> </h5>
    <p class="card-text"> <%= hotel.description %> </p>
    <a href="<%= hotel.link %>" target="_blank" class="btn btn-primary">Website Link</a>
  </div>
  <div class="card-footer text-body-secondary">
    <%= hotel.address %>
  </div>
</div>
