<%= form_with(model: stadium) do |form| %>
  <% if stadium.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(stadium.errors.count, "error") %> prohibited this stadium from being saved:</h2>

      <ul>
        <% stadium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :team, style: "display: block" %>
    <%= form.text_field :team %>
  </div>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
