<div id="<%= dom_id stadium %>">
  <p>
    <strong>Name:</strong>
    <%= stadium.name %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= stadium.team %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= stadium.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= stadium.longitude %>
  </p>

</div>
