<div class="card-stadium h-100" style="max-width: 18rem; m-4">
  <img src=<%=image_path(stadium.image)%> class="card-stadium-img" alt=<%= stadium.name %>>
  <div class="card-stadium-content">
    <%= link_to stadium_path(stadium.name), class: "card-stadium-title" do %>
      <h5><%= stadium.team %></h5>
    <% end %>
    <p class="card-stadium-text"><%= stadium.name %></p>
  </div>
</div>
