<div class="card mb-3 wide-<%=stadium.nick_name%>">
  <div class="row g-0">
    <div class="col-md-4">
      <img src=<%=image_path(stadium.image)%> class="img-fluid rounded-start card-img-wide" alt=<%= stadium.name %>>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <%= link_to stadium_path(stadium.name), class: "card-title" do %>
          <h5><%= stadium.team %></h5>
        <% end %>
        <p class="card-text"><%= stadium.description %></p>
        <p class="card-text"><small class="wide-small-text"><%= stadium.name %></small></p>
      </div>
    </div>
  </div>
</div>
