<%= render "wide_stadium", :stadium => @stadium %>

<%= link_to 'Check out Hotels', hotels_path, class: "btn btn-outline-primary m-2" %>

<%= link_to 'Check out Tailgates', tailgates_by_stadium_path, class: "btn btn-outline-primary m-2" %>

<h3 class="mt-2">Helpful Tips!</h3>

<hr>

<ul class="list-group list-group-flush">
  <% @stadium.advices.each do |advice| %>
    <li class="list-group-item">
      <%= render advice %>
    </li>
  <% end %>
</ul>

<h3>Share your tips!  </h3>

<div  class="card-body">
  <!--i dont understand why stadium.advice.build doesnt work-->
  <% if current_user %>
    <%= render "advices/form", advice: Advice.new(adviceable_id: @stadium.id, adviceable_type: @stadium.class, user_id: current_user.id) %>    
  <% end %>

</div>

<div>
  <%= link_to "Back to Stadiums", stadiums_path, class: "btn btn-outline-primary m-2" %>
</div>
